In [1]:
!pip install reverse_geocoder

Requirement already satisfied: reverse_geocoder in /home/hdoop/miniconda3/lib/python3.9/site-packages (1.5.1)
Requirement already satisfied: scipy>=0.17.1 in /home/hdoop/miniconda3/lib/python3.9/site-packages (from reverse_geocoder) (1.8.0)
Requirement already satisfied: numpy>=1.11.0 in /home/hdoop/miniconda3/lib/python3.9/site-packages (from reverse_geocoder) (1.22.3)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [1]:
import reverse_geocoder as rg
import pandas as pd

In [2]:
# Đọc dữ liệu kết quả
max_temps = pd.read_csv('data/data_has_max-temp_lat,lon,date,time', delimiter='\t', header=None,
 names=['year', 'max_temp','latitude','longtitude','date','time'])

In [3]:
max_temps.head()

   year  max_temp  latitude  longtitude      date  time
0  1901       317    64.333      23.450  19020101   600
1  1902       244    61.183      22.617  19030101  2000
2  1903       289    61.483      21.350  19040101  1300
3  1904       256    64.333      23.450  19050101   600
4  1905       283    61.500      23.767  19060101  2000

In [4]:
max_temps.latitude[1]

61.183

In [13]:
def Geocode2Location(coordinates):
    location = rg.search(coordinates)
    return location
count = 0
for i in range(0,len(max_temps)):
    geoCode = (max_temps.latitude[i], max_temps.longtitude[i])
    result = Geocode2Location(geoCode)[0]
    print(f"Năm {max_temps.year[i]} --Nhiệt độ cao nhất {max_temps.max_temp[i]} -- Vị trí {result['name']} ")

Năm 1901 --Nhiệt độ cao nhất 317 -- Vị trí Lohtaja
Năm 1902 --Nhiệt độ cao nhất 244 -- Vị trí Huittinen
Năm 1903 --Nhiệt độ cao nhất 289 -- Vị trí Luvia
Năm 1904 --Nhiệt độ cao nhất 256 -- Vị trí Lohtaja
Năm 1905 --Nhiệt độ cao nhất 283 -- Vị trí Tampere
Năm 1906 --Nhiệt độ cao nhất 294 -- Vị trí Tampere
Năm 1907 --Nhiệt độ cao nhất 283 -- Vị trí Oulu
Năm 1908 --Nhiệt độ cao nhất 289 -- Vị trí Kuusamo
Năm 1909 --Nhiệt độ cao nhất 278 -- Vị trí Oulu
Năm 1910 --Nhiệt độ cao nhất 294 -- Vị trí Kuopio
Năm 1911 --Nhiệt độ cao nhất 306 -- Vị trí Oulu
Năm 1912 --Nhiệt độ cao nhất 322 -- Vị trí Tampere
Năm 1913 --Nhiệt độ cao nhất 300 -- Vị trí Inari
Năm 1914 --Nhiệt độ cao nhất 333 -- Vị trí Vyborg
Năm 1915 --Nhiệt độ cao nhất 294 -- Vị trí Kajaani
Năm 1916 --Nhiệt độ cao nhất 278 -- Vị trí Lammi
Năm 1917 --Nhiệt độ cao nhất 317 -- Vị trí Mariehamn
Năm 1918 --Nhiệt độ cao nhất 322 -- Vị trí Vaasa
Năm 1919 --Nhiệt độ cao nhất 378 -- Vị trí Sodankylae
Năm 1920 --Nhiệt độ cao nhất 294 -- Vị trí Vaasa
Năm 1921 --Nhiệt độ cao nhất 283 -- Vị trí Sodankylae
Năm 1922 --Nhiệt độ cao nhất 278 -- Vị trí Jyvaeskylae
Năm 1923 --Nhiệt độ cao nhất 294 -- Vị trí Lammi
Năm 1924 --Nhiệt độ cao nhất 294 -- Vị trí Jyvaeskylae
Năm 1925 --Nhiệt độ cao nhất 317 -- Vị trí Isles of Scilly
Năm 1926 --Nhiệt độ cao nhất 489 -- Vị trí Aberdeen

Exception ignored in: <function _releaseLock at 0x7f1204ce9790>
Traceback (most recent call last):
  File "/home/hdoop/miniconda3/lib/python3.9/logging/__init__.py", line 227, in _releaseLock
    def _releaseLock():
KeyboardInterrupt:

Năm 1927 --Nhiệt độ cao nhất 489 -- Vị trí Langenhagen
Năm 1928 --Nhiệt độ cao nhất 378 -- Vị trí Schiermonnikoog
Năm 1929 --Nhiệt độ cao nhất 328 -- Vị trí Dale
Năm 1930 --Nhiệt độ cao nhất 400 -- Vị trí Hamble